.ui.image {
  height: 39px;
  width: 109px;
}
.ui.borderless.menu {
  padding: 10px 20% 10px 20%;
  box-shadow: none;
  border: none;
}

.middle-1 {
  background-color: #f4f4f4;
}
#signin {
  width: 25%;
}
.ui.button {
  background-color: #255f82;
  color: white;
}
.ui.inline.dropdown {
  font-size: 48px;
}
.middle.options {
  height: 136px;
  width: 136px;
}
#middle {
  text-align: center;
}
#middle-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.two.column.row {
  text-align: center;
}
.footer, #above-footer {
  background-color: #3d3d3d;
  color: white;
}
a.item {
  color: white;
}